* {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #1f1f1f;
    height: 13vh;
    width: 80%;
    margin: 5% auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.header img {
    height: 55%;
    width: auto;
}

.header img:hover {
    cursor: pointer;
}

.header input {
    width: 50%;
    height: 50%;
    border: none;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 1.2em;
}

.page {
    background-color: #ebebeb;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 30px 10px 30px;
}

.page div {
    background-color: wheat;
    width: 90%;
}

.footer div {
    background-color: #1f1f1f;
    height: 13vh;
    width: 80%;
    margin: 0 auto 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
    font: 1.2em Arial, sans-serif;
    padding: 10px;
    gap: 10px;
}

.footer div a {
    color: white;
    text-decoration: none;
    border-left: 1px solid white;
    padding: 0 10px;
    transition: text-decoration 0.3s ease;
}

.footer div a:hover {
    text-decoration: underline;
}

.footer div img {
    height: 55%;
    width: auto;
    margin-right: 20px;
}