* {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #1f1f1f;
    height: 100px;
    width: 80%;
    margin: 5% auto 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header img {
    height: 50%;
    width: auto;
}

.header img:hover {
    cursor: pointer;
}

.header input {
    width: 50%;
    height: 50%;
    border: none;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 1.2em;
}

.page {
    background-color: #ebebeb;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 30px 0 30px;
}

.page div {
    background-color: wheat;
    width: 90%;
}

.footer {
    background-color: #1f1f1f;
    height: 100px;
    width: 80%;
    margin: 0 auto 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content:space-around ;
    color: white;
    font: 1.2em Arial, sans-serif;
}

.footer a {
    color: white;
    text-decoration: none;
    border-left: 1px solid white;
    padding: 0 10px;
}

.footer a:hover {
    text-decoration: underline;
}

.footer img {
    height: 50%;
    width: auto;
}